#---------------------------------------
# Composer
#---------------------------------------

/vendor

#---------------------------------------
# Logs
#---------------------------------------

*.log
error_log
php-log

#---------------------------------------
# System
#---------------------------------------

.DS_Store

#---------------------------------------
# Public
#---------------------------------------

/public

#---------------------------------------
# PHPStorm
#---------------------------------------

.idea
